header {
  text-align:center;
  color: #734d26;
  font-family: sans-serif;
  background-color: #d2a679;
}

body {
  background-color: #ecd9c6;
  text-color: black;
  font-family: sans-serif;
}

@media screen and (min-width: 515px) {
  #menuToggler {
    font-size: 2em;
    padding: 0.25 0.5em;


}
  nav {
    display: flex;
    flex-direction: row;
    transform: translateX(0);
    opacity: 1;
    position: static;

  }
}

#menuToggler {
  position: fixed;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
  padding: 0.1rem;
  font-size: 3em;
  line-height: 1em;

}

nav {
  display: flex;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(100vh);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  flex-direction: column;
  background-color: #bf8040;
  /* flex-basis: 15vw; */
  /* box-sizing: border-box; */
}

nav.open {
  display: flex;
  transform: none;
}

nav a {
  /* background-color: #d9b38c; */
  padding: 0.25 0.5em;
  margin: 0.5em;
  text-decoration: none;
  text-align: center;
  font-family: sans-serif;
  transition: 0.5s;
  color: black;
}

nav a:hover {
  background-color: #e6ccb3;
}
